# Ignore the virtual environment
venv/

# Bytecode and cahche files
__pycache__/
*.pyc

# OS-specific
.DS_Store
Thumbs.db

# VS Code and IDE settings (optional)
.vscode/
.idea/

#Personal notes
notes.md

practice.py

.practice